/* CSS for the transparent login form */
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 60px); /* Adjust height to account for navbar */
}

.container {
	background: rgba(255, 255, 255, 0.1); /* White background with opacity */
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 300px;
	height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(255, 255, 255, 0.4);
}

.container h1 {
	margin-bottom: 20px;
	color: white;
    font-family: 'Roboto', sans-serif;
}

.container input[type="text"],
.container input[type="password"] {
	width: 80%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.container input[type="submit"],
.container input[type="button"] {
    width: 40%;
    background-color: rgb(21, 21, 21, 1.0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}

.container input[type="submit"]:hover,
.container input[type="button"]:hover {
    background-color: rgb(11, 11, 11, 1.0);
}


.container .form-options {
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 20px;
}

.container .form-options label {
	color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.container .form-options a {
	color: white;
	text-decoration: none;
	font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}

.container .form-options a:hover {
	text-decoration: underline;
}